<div class="topnav">
    <div class="flex flex-wrap py-7 items-center justify-between">
        <a href="/">
            <div class="inline-flex items-center gap-x-3">
                <img src="/images/yext-logo.svg" height="56" width="56" class="">
                <h2 class="md:pl-5 text-xl cursor-pointer">
                    Yext Products Starter
                </h2>
            </div>
        </a>
        <div class="hidden md:flex grid gap-x-10">
            <a href="/" class="headerLink hover:underline ">Home</a>
            <a href="/about" class="headerLink hover:underline ">About</a>
            <a href="#" class="headerLink hover:underline ">Blog</a>
        </div>

        <a href="javascript:void(0);" class="hamburger md:hidden" onclick="hamburger()">
            <svg class="md:hidden" viewBox="0 0 100 80" width="40" height="40">
                <rect width="90" height="15"></rect>
                <rect y="30" width="90" height="15"></rect>
                <rect y="60" width="90" height="15"></rect>
            </svg>
        </a>
    </div>

    <div class="links-mobile-view px-5 py-3 bg-white text-black justify-end" id="myLinks">
        <div><a href="/" class="headerLink hover:underline ">Home</a></div>
        <div><a href="/about" class="headerLink hover:underline ">About</a></div>
        <div><a href="#" class="headerLink hover:underline ">Blog</a></div>        
    </div>
</div>

<script>
    function hamburger() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
    }
</script>

