---
{
    "urlFormat": "locations"
}
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Locations</title>
        <meta name="description" content="Locations {{global.name}}">
        {{>head}}
        {{!-- <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> --}}
        <!--Replace with your tailwind.css once created-->
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="w-full">
            <div class="centered-container">
                {{>navbar}}
            </div>
            <div class="centered-container">
                <div class="section">
                    <div class="grid gap-y-5 md:grid-cols-2 md:gap-x-5">
                        <div>
                            <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl mb-8" href="#">Locations</a>                            
                        </div>                        
                    </div>
                </div>                
            </div>
        </div>
        <div class="w-full bg-gray-50">
            <div class="centered-container">
                {{>footer}}
            </div>
        </div>
    </body> 

</html>